{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "@scss": "./src/assets/scss"
        },
        "extensions": [
          ".js",
          ".jsx",
          "ts",
          "tsx",
          ".es",
          ".es6",
          ".mjs",
          ".scss",
          ".css"
        ]
      }
    ]
  ]
}
