.card-container {
  width: 100px;
  height: 100px;
  position: relative;
}
.card-image {
  width: 100%;
  height: 100%;
}
.card-label {
  position: absolute;
  bottom: 0;
  right: 0;
}
.card-checkbox + .card-label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

.card-checkbox {
  display: none;
}

.card-checkbox + .card-label:before {
  content: '\2714';
  border: none;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

.card-checkbox:checked + .card-label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}
